<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Language Project</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/home.css')}}"
    />

    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div>
      <div class="container">
        <h1>Welcome to Sign Language Recognition</h1>

        <div class="button-container">
          <a href="/learn" class="button">Learn</a>
          <a href="/video_feed" class="button">Practice</a>
          <a href="/communicate" class="button">Communicate</a>
        </div>
      </div>
    </div>
  </body>
</html>
